.App {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;
  width:100vw;
}
.App-time {
  position:fixed;
  top:20px;
  left:50%;
  transform:translateX(-50%);
}
.Sector {
  width:200px;
  height:200px;
  border:1px solid rgba(0,0,0,0.1);
  position:absolute;
  left:50%;
  top:50%;
  display:flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  &.has-base {
    background: rgba(50,200,50,1);
  }
}
